<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- script for angular file and app -->
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="style.css " />
    <!-- <link rel="stylesheet" href="custom-style.css " /> -->
    <title>Contact Book</title>
</head>
<body ng-app="myCRUDApp" >
    <div ng-controller="ContactController" >
        <form>
            <label>Name</label>
            <input type="text" name="name" ng-model="newContact.name">
            <br/><br/>

            <label>Email</label>
            <input type="text" name="email" ng-model="newContact.email">
            <br/><br/>

            <label>Phone</label>
            <input type="text" name="phone" ng-model="newContact.phone">
            <br/><br/>

            <input type="hidden" ng-model="newContact.id" />
            <input type="button" value="Save" ng-click="saveContact()" />
            <br/><br/>
        </form>

        <table class="container text-center" border="1px" >
            <thread >
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Update</th>
                <th>Delete</th>
            </thread>
            <tbody >
                <tr ng-repeat="contact in contacts">
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.phone}}</td>
                    <td >
                        <a href="#" ng-click="edit(contact.id)">Update</a>
                        <!-- <a href="#" ng-click="delete(contact.id)">Delete</a> -->
                    </td>
                    <td >
                        <!-- <a href="#" ng-click="edit(contact.id)">Edit</a> -->
                        <a href="#" ng-click="delete(contact.id)">Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    
</body>
</html>
<!-- 
<script type="text/javascript">

var uId= 0;

angular.module('myCRUDApp',[])
.controller('ContactController', ['$scope',ContactController]);

function ContactController($scope){
    $scope.newContact = null;
    $scope.contacts = [];

    $scope.saveContact = function () {
        if ($scope.newContact.id == null){
            uId = uId + 1;
            $scope.newContact.id = uId;
            $scope.contacts.push($scope.newContact);
        }
        else{
            for(i in $scope.contacts){
                if($scope.contacts[i].id == $scope.newContact.id){
                    $scope.contacts[i] = $scope.newContact;
                }
            }
        }
        $scope.newContact = null ;
       
    }
    

    
    $scope.edit = function(id){
        for (var i in $scope.contacts){
            if ($scope.contacts[i].id == id){
                $scope.newContact = angular.copy($scope.contacts[i]);
            }
        }
    }

    $scope.delete = function(id){
        for (var i in $scope.contacts){
            if ($scope.contacts[i].id == id){
                $scope.contacts.splice(i, 1);
                $scope.newContact = {};
           }
        }
    }


}

</script> -->